@charset "utf-8";
/* CSS Document */

h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #1166BB;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #0080FF;
	font-weight: bold;
}
h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #408080;
}
h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #408080;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004B97;
}

th {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #70B8B8;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.button {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #0080C0;
	border: thin solid #0080C0;
}

.combo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006BD7;
	background-color: #DCEDED;
	border: thin solid #808080;
	width: 180px;
}

.tableTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #74BABA;
	border: 1px solid #408080;
}

.tableData {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F6F;
	background-color: #B7DBDB;
	border: 1px solid #408080;
}

.fieldEdit {
	font-family: Arial, Helvetica, sans-serif;
	color: #004080;
	background-color: #DCEDED;
	border: thin solid #808080;
}

.fieldShow {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
	background-color: #C0C0C0;
	border: thin solid #808080;
}

.message {
	background-color: #FFFFFF;
	border: 1px solid #74BABA;
}

.error {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
